/lesson01/Урок 1. Коды примеров/
/env/
.idea/
/lesson01/new_test_file.txt
/lesson01/test_file.txt
/lesson02/Урок 2. Коды примеров/
/lesson03/Урок  3.  Коды  примеров/
lesson03/common/__pycache__/
lesson04/unit_tests/__pycache__/
lesson04/common/__pycache__/
lesson04/__pycache__/
lesson05/common/__pycache__/
lesson05/log/__pycache__/
lesson05/log/server_log_files/
lesson05/log/client_log_files/